@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Myriad';
  src: url('./fonts/Nunito-Bold.woff2') format('woff2'),
      url('./fonts/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad';
  src: url('./fonts/Nunito-Regular.woff2') format('woff2'),
      url('./fonts/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad';
  src: url('./fonts/Nunito-Medium.woff2') format('woff2'),
      url('./fonts/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad';
  src: url('./fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('./fonts/Nunito-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@layer components {
  th, td {
    @apply p-3 border border-white
  }

  .bar-table th, .bar-table td {
    @apply p-2 text-center
  }

  .performance-table td {
    @apply text-white
  }

  .performance-table img {
    @apply inline-flex h-4 mb-2 ml-2.5
  }

}